body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
.container
{
    
    margin: 1rem;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
.container img
{
    width: 110px;

}
.signincontainer
{
  
    background-color: #f9f9f9;
    border: 1px solid rgb(200, 200, 200);
    padding: 1.5em 2em;
    color: rgb(0, 0, 0);
    width:300px;
    border-radius: 10px;
    margin: 1rem;
}
.signincontainer h1{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom:1em;
}
.inputcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5em;
}
.inputcontainer p{
    align-self: start;
   font-size: .88rem;
   margin-bottom:.3em;
   font-weight: 550;
}
.inputcontainer input{
    padding:0.1em .5em;
    margin-bottom: 1.2em;
    font-size: .9rem;
   width: 97%;
   height: 1.8em;
   border-radius: 4px;
   border: 1.5px solid rgb(200, 200, 200);
 }
 .inputcontainer input:focus{

    border: 1.5px solid rgb(0, 123, 255);
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  .button32 {
margin-top: .5em;
    align-self: center;;
    background-color: #ffd500;
    border-radius: 10px;
    
    cursor: pointer;
    padding:.52em 1em;
    text-align: center;
    transition: 200ms;
    width: 100%;
    border: 0;
    font-size: .9rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button32:not(:disabled):hover,
  .button32:not(:disabled):focus {
    outline: 0;
    background: #f4d803;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .button32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }
  .signincontainer> p{
    margin-top: 1.3em;
    margin-bottom: 2em;
font-size: .7rem;
  }
  .signincontainer> p span{
   color:rgb(26, 125, 231);
   font-size: .77rem;
   text-decoration: underline;
   cursor: pointer;
  }
  .signincontainer .needHelp{
    font-size: .86rem;
    color:rgb(26, 125, 231);
  }
  .signincontainer .needHelp span{
    text-decoration: none;
    font-size: .7rem;
    color:rgb(55, 55, 55);
  }
  .signincontainer hr{
    border: none;
    border-top: .1px solid rgba(200, 200, 200, 0.586);
  }
.signincontainer .buy{
font-size:.8rem;
font-weight: 550;
margin:1em 1em 0 .1em;
}
.signincontainer .shop{
    font-weight: 550;
    font-size:.8rem;
    margin:.6em 0 0 ;
    cursor: pointer;
    color:rgb(26, 125, 231);
 }
 .divider {
    margin-top:1em ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    width: 122px;
    border-bottom: .5px solid #cccccc91; 
    margin: 0 10px; 
  }
  
  .divider span {
    color: #555; 
    font-size: .8rem; 
  }
  .button {
    margin-top: 1em;
        align-self: center;;
      
        border-radius: 10px;
        
        cursor: pointer;
        padding:.6em 1em;
        text-align: center;
        transition: 200ms;
        width: 369px;
      
        font-size: .8rem;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        background-color: #f9f9f9;
    border: 1px solid rgb(200, 200, 200);
      }
      
      .button:not(:disabled):hover,
      .button:not(:disabled):focus {
        outline: 0;
        background: hsl(0, 0%, 96%);
        box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.15);
      }
      
      .button:disabled {
        filter: saturate(0.2) opacity(0.5);
        -webkit-filter: saturate(0.2) opacity(0.5);
        cursor: not-allowed;
      }
.hr2{
    margin: 2em;
    margin-bottom: 2.5em;
    border: none;
    height: 1.4px;
width: 100%;
background: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.85), rgba(200, 200, 200, 0));
box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}
.footerp{
    display: flex;
    gap:1.6em;
    justify-self: center;
}
.footer p{
    text-align: center;
    font-size: .71rem;
    color: #272727b8;
}
.footerp p{
    font-size: .72rem;
    margin-bottom: 1em;
    color:rgb(26, 125, 231);
   
}
.error{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-style: 400;
    margin-bottom: 1em;
}