/* Navbar styles */
body{
  overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
  }
  nav{background-color: #131921;
    color: white;
    padding: 10px;
  
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }


.navbar-right {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
z-index:1;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 400px;
  display: flex;
  flex-direction: column;
padding: 20px;
padding-top:4px;
border-radius: 5px;
  align-items: center;

}

.menulist{
  display: flex;
justify-content: center;

}
.YourLists{
  
  display:flex;
  flex-direction: column;
  position: relative;
  right:25px;

}
.YourAccount{
  display: flex;
  flex-direction: column;
 
}
.vl{
  position: relative;
  left: 24px;
margin-right: 40px;
  border: none;
  border-left: .01px solid #a2a2a243;
  height: 300px;
  margin-top: -20px;
}
.youraccount{
  text-align: start;
}
h3{
  margin-bottom:.5em;
  font-size:1rem;
  color: #070707;
}
.hr2{
  width: 100%;
  border: none;
  border-bottom: .01px solid #a2a2a243;
  margin-bottom: 20px;
  margin-top: 10px;
}
.menulist p{
  cursor: pointer;
  font-size:.85rem;
  margin:.4em 0 ;
  color: #131921;
}
.newcustomer{
  text-align: center;
  font-size:.85rem;
  color: #131921;
}
.menubutton button{
  width: 200px;
  border-radius: 10px;
  background-color: #ffd500;
  font-weight: 400;
}
.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}


.dropdown-item:hover {
  background-color: #f1f1f1;
}


.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 200px; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); 
  z-index: 100000; 
  transform: translateX(-100%); 
  transition: transform 0.3s ease; 
  padding: 10px;
}

.mobile-menu.show { 
  transform: translateX(0);
}

.mobile-menu-item {
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ccc;
}

.mobile-menu-item:hover {
  background-color: #f1f1f1;
}


.close-menu-button {
  background: none;
  border: none;
  font-size: 24px; 
  margin: 10px; 
  cursor: pointer;
}

  .navbar-logo img {
    width: 100px;
    margin-left: 10px;
    margin-top:10px;
  }
  
 
  .navbar-center {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  .search-input {
    width: 100%;
    height: 30px;
    max-width: 1200px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
  }
  
  .search-button {
    background-color: #febd69;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-link, .cart-link {
    margin-left: 15px;
    color: white;
    text-decoration: none;
  }
  

  .cart-count {
    background-color: #f08804;
    color: black;
    padding: 2px 5px;
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
    top: -34px;
    left: -30px;
  }

  .navbar-center2 {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  .navbar-center2 .search-input {
    width: 100%;
    height: 30px;
    max-width: 1200px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
  }
  
  .navbar-center2 .search-button {
    background-color: #febd69;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  

  #searchicon{
    width: 25px;
  }
  #carticon{
    width: 34px;
    margin-top:15px;
  }

  #locationlogo{
    width: 20px;
    margin-top:12px;
    
  }
  .Deliverto{
    display: flex;
    margin-left:15px ;
    margin-right: 10px;
  }
  .delivertop >p:first-child{
    color: rgba(255, 255, 255, 0.74);
 margin-bottom: -2px;
}
 .signintext>p:first-child{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.856);
 }
 .signintext
 {
    margin-left:15px;
    cursor: pointer;
 }
 
 .photocontiner {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;

 }
 .menubutton .button-32{

  font-size:1rem;
 }
 .mobile-menu .button-32{

 margin-top:0;
 }
 
 .menulis2 p{
  cursor: pointer;
  font-size:.8rem;
  margin:1em 0 ;
  color: #131921;
 }
.Homecontent{
   max-width: 90%;
  padding-left:20px;
  padding-right:20px;
  margin:0 auto;
  margin-top: -250px;
  z-index: 100;
display: flex;
flex-wrap: wrap;
justify-content: center;
 align-items: center;

}
@media (max-width:500px) {
  .Homecontent{
    max-width: 100%;
    flex-direction:column;
    margin-top: -60px;
  }

}
@media (700px <width<1200px) {
  .Homecontent{
    max-width: 100%;
    margin-top: -120px;
  }

}
@media (500px <width<=700px) {
  .Homecontent{
    max-width: 100%;
    margin-top: -100px;
  }

}
#Homeimges {
   
    max-width: 1600px;
    max-height: 800px;
    object-fit: cover;
    z-index: -1;
    padding: 20px;
   position: relative;
   background-position: center;
    background-size: cover;
  
   transition: transform 0.1s ease-in-out;
}
@media (max-width:1100px) {
 
  #Homeimges{
    max-width: 100%;
    padding-top:0;
    margin: 0;
    padding: 0;
  }

}
#Homeimges.slide-left {
    animation: slideLeft 0.1s forwards;
}

#Homeimges.slide-right {
    animation: slideRight 0.1s forwards;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.photocontiner #button1 {
background-color: #13192100;
    border: none;
    cursor: pointer;
    position: relative;
   font-size: 2rem;
color: #929292;
right: -55px;
z-index: 1;
}
.photocontiner #button2 {
    background-color: #13192100;
        border: none;
        cursor: pointer;
        position: relative;
       font-size: 2rem;
       color: #929292;
       left: -55px;
       z-index: 1;
    }
    .navbar-logo2 img {
      width: 100px;
      margin-left: 10px;
      margin-top:10px;

    }
    @media (min-width: 768px) {
        .navbar-center {
          display: flex; 
        }
      
        .menu-button {
          display: none; 
        }
        .photocontiner #button1,.photocontiner #button2{
            font-size: 2.8rem;
        } 
        .navbar-logo2,.navbar-center2{
          display: none;
        }
      }
    
    
      @media (max-width: 768px) {
   
        nav{
          padding-bottom: 10px;
        }
        .menu-button {
          margin-right: 20px;
        }
        #locationlogo,.signintext,.delivertop,.navbar-center, .navbar-logo{
            display: none;
        }
        .cart-link{
         position: relative;
         left:20px
        }
        .navbar-center2{
          margin-top: 10px;
        }
       nav .navbar-logo2{
        margin:0;
     margin-bottom: -50px;
     
       display: flex;
       justify-content: center;
       }
       
        
      }

.menubutton2 .button-32{
background-color: #676c71;
color: white;
width: 200px;
font-size: .9rem;
border-radius: 10px;
}
  .add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .add-to-cart button:last-of-type {
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .add-to-cart button:last-of-type:focus {
    outline: none;
  }
  
  .lobebutton svg {
    fill: transparent;
    transition: fill 0.2s ease;
  }
  
  .add-to-cart button.is-active svg {
    fill: #d61f1f;
    animation: beat cubic-bezier(0.04, 0.4, 0.5, 0.95) 450ms forwards;
  }
  
  @keyframes beat {
    30% {
      opacity: 1;
      transform: scale(1.4);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
